<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218329868998-8hpnfgjsm8o5n8u4jr9siemejrl8m5us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218329868998-8hpnfgjsm8o5n8u4jr9siemejrl8m5us</string>
	<key>API_KEY</key>
	<string>AIzaSyA3G6VvZoBwpgF1RmySMa1zwPZeuVe0o2k</string>
	<key>GCM_SENDER_ID</key>
	<string>218329868998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ventas</string>
	<key>PROJECT_ID</key>
	<string>mt2022-ventas-b4ea5</string>
	<key>STORAGE_BUCKET</key>
	<string>mt2022-ventas-b4ea5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218329868998:ios:35ab0582106b880540c5c7</string>
</dict>
</plist>